<h1>Estimado <%= @constancia_documento.nombre_completo %></h1>
<h2>Su constancia de Servicio Social ha sido emitida.</h2>
<p>Puede verla a través del siguiente enlace: http://localhost/constancia_documento/<%= @constancia_documento.uuid %></p>
<p>
  Este correo se envía de forma automática, por favor no lo responda.
</p>
