<h1>Editing Constancia Documento</h1>

<%= render 'form', constancia_documento: @constancia_documento %>

<%= link_to 'Mostrar', @constancia_documento %> |
<%= link_to 'Regresar', constancia_documentos_path %>
