// Place all the styles related to the constancia_documentos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fondo-oficios {
  background-image: url('Logo_IPN_1136X1600_gris.png');
  background-size: 434px 550px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 70%;
}

.sello-sep {
  background-image: url('sep.png');
  background-size: 140px 190px;
  background-repeat: no-repeat;
  background-position: center;
}

.fondo-oficios p {
  font-size: 12px;
  line-height: 1.6;
}
